.pieDePagina{
    border-top: 1px solid #333333;
    background-color: #ffffff;
    }

.desplegable{
    color: #333333;
    background-color: #f0f0f0;
    font-family: 'Manrope', sans-serif;
    font-size: 0.75rem;
}
.desplegableTexto{
    font-family: 'Manrope', sans-serif;
    font-size: 0.75rem;
    color: #333333;
}
.iconosRedesSociales{
    color:#333333;
    margin-right: 5px;
    margin-left: 5px;
    .iconosRedesSociales:hover{
        color: #f0f0f0;
        .linkedin{
            color: map-get($map: $redes, $key:linkedin )
        }
        .behance{
            color: map-get($map: $redes, $key:behance )
        }
        .mail{
            color: map-get($map: $redes, $key:mail )
        }
        .whatsapp{
            color: map-get($map: $redes, $key:whatsapp )
        }
    }
}