.cabecera {
    position: sticky;
    top: 5;
    bottom: 5;
    height: auto;
    background-color: white;
    font-family: 'Cinzel Decorative', cursive;

    a {
        color: #333333;
        :hover{
            text-underline-offset: 1px;
        }
    }
}
