/* ESTILOS BANNER INDEX */
.containerBanner{
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 10vh;
    margin-right: 10vh;
}
.imagenBanner{
    animation-name: flotar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* ESTILOS FORMULARIO CONTACTO */
.botonContacto{
    background-color: $color-principal;
    color: $color-secundario;
}
.botonContacto:hover{
    background-color: #444444;
    color: #f0f0f0;
}
.imputFormulario:focus {
    background-color: $color-fondo;
    border-color: $color-principal;
    outline: 0;
    box-shadow: 0 0 0 0.15rem #33333325;
  }
.formularioContacto{
    max-width: 60vh;
    background-color: $color-secundario;
    border: 1px;
    border-radius: 1%;
}
.containerLuna{
    max-width: 40vh;
}

/* ESTILOS CURRICULUM */
.titulosCurriculum{
    display: inline-block;
    background-color: $color-fondo;
}
.listasCurriculum{
    font-weight: 200;
    list-style: none;
    padding: 0;
}

/* ESTILOS SOBRE MI */
.parrafoSobremi{
    padding-left: 100px;
    padding-right: 100px;
}
@media screen and (max-width: 768px) {
    .fotoSobreMi img {
        display: none;
    }
}

/*FONDO*/
.fondoGeneral{
    background-image: url('../assets/img/fondo_papel.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
