/* ESTILOS BANNER INDEX */
.containerBanner{
    margin-top: 16vh;
    margin-bottom: 16vh;
}
.imagenBanner{
    animation-name: flotar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* ESTILOS FORMULARIO CONTACTO */
.botonContacto{
    background-color: #333333;
    color: #f0f0f0;
}
.botonContacto:hover{
    background-color: #444444;
    color: #f0f0f0;
}
.imputFormulario:focus {
    background-color: #fff;
    border-color: #333333;
    outline: 0;
    box-shadow: 0 0 0 0.15rem #33333325;
  }
.formularioContacto{
    max-width: 60vh;
    background-color: #f0f0f0;
    border: 1px;
    border-radius: 1%;
}

/* ESTILOS CURRICULUM */
.fondoCurriculum{
    background-color: #f0f0f0;
}
.titulosCurriculum{
    display: inline-block;
    background-color: #ffffff;
}
.listasCurriculum{
    font-weight: 200;
    list-style: none;
    padding: 0;
}

/* ESTILOS SOBRE MI */
.parrafoSobremi{
    padding-left: 100px;
    padding-right: 100px;
}

