.bgGris{
    background-color: #f0f0f0;
    }

.textoNegrita{
    color: #5e5e5e;
}

.hoverCards:hover{
    transform: scale(0.98);
    transition: transform 1s ease-in-out;
    filter: drop-shadow(2px 2px 4px #cecece);
}

.flex{
    display: flex;
    justify-content: center;
}

@keyframes flotar{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-25px);
    }
    100%{
        transform: translateY(0px);
    }
}