/* VARIABLES */
$tipografia-general: 'Manrope', sans-serif;
$color-principal: #333333;
$color-secundario: #f0f0f0;
$color-fondo: #ffffff;

/* MAPAS (se usa con get-map) */
$redes:(
    linkedin: #174e81,
    behance: #000000,
    whatsapp: #0c573b,
    mail: #6c5567,
)