/* VARIABLES */
$tipografia-general: 'Manrope', sans-serif;

/* MAPAS (se usa con get-map) */
$redes:(
    facebook: rgb(17, 17, 107),
    instagram: rgb(71, 32, 82),
    twitter: rgb(84, 155, 179),
    linkedin: rgb(18, 18, 94),
    behance: rgb(0, 0, 0)
)

$colores(
    principal: black,
    secundario: white,
    acento: blue
)

